@using Discord
@using TehGM.EinherjiBot.BotStatus.API
@using TehGM.EinherjiBot.PlaceholdersEngine
@using TehGM.EinherjiBot.PlaceholdersEngine.API
@using TehGM.EinherjiBot.UI.PlaceholdersEngine
@using TehGM.EinherjiBot.Utilities
@inject IBotStatusService Service
@inject IPlaceholdersService Placeholders
@inject IPlaceholdersBuilder PlaceholdersDialog

<div class="spaced-card">
    <MudCard Elevation="4">
        <MudCardHeader>
            <MudGrid Class="flex-wrap">
                <MudItem xs="7" sm="6" md="8">
                    <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Primary" Disabled="this._processing || !this.IsLinkValid" OnClick="this.OnSetClickedAsync">Use Now</MudButton>
                    <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Secondary" Disabled="this._processing || string.IsNullOrWhiteSpace(this._text)" OnClick="this.OnPreviewClickedAsync">
                        Preview
                        <MudPopover Open="this._previewText != null" Elevation="7" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterLeft" Class="pa-4 d-flex flex-row gap-2">
                            <MudAvatar Image="@this.BotInfo?.GetAvatarURL(32)" Class="discord-avatar inline"/>
                            <div class="d-flex flex-column">
                                <span class="d-flex flex-row">
                                    <MudText Class="ma-0 discord-username inline">@this.BotInfo?.Username</MudText>
                                    <MudChip Class="discord-bot-tag">BOT</MudChip>
                                </span>
                                <MudText Class="align-self-center discord-status inline">
                                    @this._previewText
                                </MudText>
                            </div>
                            <MudIconButton Class="align-self-center" Color="MudBlazor.Color.Secondary" Icon="@Icons.Filled.Close" Size="Size.Small" OnClick="_ => this._previewText = null" />
                        </MudPopover>
                        <MudOverlay DarkBackground="true" Visible="this._previewText != null" OnClick="_ => this._previewText = null" />
                    </MudButton>
                </MudItem>
                <MudItem xs="5" sm="6" md="4" Class="d-flex justify-end">
                    @if (this._processing)
                    {
                        <MudProgressCircular Class="ms-n1" Color="MudBlazor.Color.Primary" Size="Size.Small" Indeterminate="true"/>
                    }
                    <MudSwitch @bind-Checked="this._enabled" Color="MudBlazor.Color.Primary" Disabled="this._processing" Class="ml-0 mr-1"/>
                    <MudButton StartIcon="@this.SaveIcon" Variant="Variant.Filled" Color="MudBlazor.Color.Success" 
                        Disabled="this._processing || !this.HasPendingChanges() || !this.IsLinkValid" 
                        OnClick="this.OnSaveClickedAsync">@this.SaveText</MudButton>
                    <MudIconButton Icon="@this.DeleteIcon" Color="MudBlazor.Color.Error" Disabled="this._processing" OnClick="this.OnDeleteClickedAsync" />
                </MudItem>
            </MudGrid>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12" md="3" lg="2">
                    <MudSelect T="ActivityType" @bind-Value="this._activityType" Label="Activity" Disabled="this._processing">
                        <MudSelectItem Value="ActivityType.Playing"><MudIcon Icon="@Icons.Filled.VideogameAsset"/> Playing</MudSelectItem>
                        <MudSelectItem Value="ActivityType.Watching"><MudIcon Icon="@Icons.Filled.OndemandVideo"/> Watching</MudSelectItem>
                        <MudSelectItem Value="ActivityType.Listening"><MudIcon Icon="@Icons.Filled.Headphones"/> Listening to</MudSelectItem>
                        <MudSelectItem Value="ActivityType.Streaming"><MudIcon Icon="@Icons.Filled.CellTower"/> Streaming</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="9" lg="10">
                    <MudTextField @bind-Value="this._text" Label="Status (Empty to clear)" Disabled="this._processing" DebounceInterval="350" />
                </MudItem>
                @if (this.IsStreamingActivity)
                {
                    <MudItem xs="12">
                        <MudTextField @bind-Value="this._link" Label="Twitch or YouTube URL (Optional)" Disabled="this._processing" 
                            Error="!this.IsLinkValid" Validation="@ActivityLinkValidator.ValidationDelegate" DebounceInterval="350" />
                    </MudItem>
                }
            </MudGrid>
        </MudCardContent>
    </MudCard>
</div>

@code {
    [CascadingParameter]
    public IDiscordUserInfo BotInfo { get; set; }

    [Parameter]
    public BotStatusResponse ExistingStatus { get; set; }

    [Parameter]
    public EventCallback<StatusEventArgs> Deleted { get; set; }
    [Parameter]
    public EventCallback<StatusEventArgs> Saved { get; set; }

    private Guid? _id;
    private ActivityType _activityType;
    private string _text;
    private string _link;
    private bool _enabled;

    private string _previewText;

    private bool _processing;
    private BotStatusResponse _savedStatus;

    private bool IsNew => this._id == null;
    private bool IsStreamingActivity => this._activityType == ActivityType.Streaming;
    private bool IsLinkValid => !this.IsStreamingActivity || ActivityLinkValidator.IsLinkValid(this._link);

    private string SaveIcon => this.IsNew ? Icons.Filled.AddCircle : Icons.Material.Filled.Save;
    private string SaveText => this.IsNew ? "Add" : "Save";
    private string DeleteIcon => this.IsNew ? Icons.Filled.Clear : Icons.Filled.DeleteForever;

    protected override void OnParametersSet()
    {
        if (this._savedStatus == null)
            this.LoadStatus(this.ExistingStatus);
        base.OnParametersSet();
    }

    private bool HasPendingChanges()
        => this._id == null
        || this.ExistingStatus.ActivityType != this._activityType
        || this.ExistingStatus.Text != this._text
        || this.ExistingStatus.Link != this._link
        || this.ExistingStatus.IsEnabled != this._enabled;

    private void LoadStatus(BotStatusResponse status)
    {
        this._savedStatus = status;
        this.ExistingStatus = status;
        this._id = this.ExistingStatus?.ID;
        this._activityType = this.ExistingStatus?.ActivityType ?? ActivityType.Playing;
        this._text = this.ExistingStatus?.Text;
        this._link = this.ExistingStatus?.Link;
        this._enabled = this.ExistingStatus?.IsEnabled ?? false;
    }

    public void ClearInputs()
    {
        this.LoadStatus(null);
        base.StateHasChanged();
    }

    public BotStatusRequest BuildStatus()
        => new BotStatusRequest(this._text, this.IsStreamingActivity ? this._link : null, this._activityType, this._enabled);

    private async Task OnDeleteClickedAsync(MouseEventArgs e)
    {
        if (this._id != null)
        {
            string activity = this._activityType == ActivityType.Listening ? "Listening to" : this._activityType.ToString();
            string message = !string.IsNullOrWhiteSpace(this._text)
                ? "Are you sure you want to permanently delete empty status?"
                : $"Are you sure you want to permanently delete status \"{activity} {this._text}\"?";
            bool? result = await this.Dialogs.ShowMessageBox("Deleting Status", message,
                yesText: "Delete", cancelText: "Cancel");
            if (result != true)
                return;
        }

        this._processing = true;
        if (this._id != null)
        {
            await this.Service.DeleteAsync(this._id.Value);
            this.Notifications.Add("Status deleted.", Severity.Success);
        }
        await this.Deleted.InvokeAsync(new StatusEventArgs(this._id, this.ExistingStatus));
        this._processing = false;
    }

    private async Task OnSaveClickedAsync(MouseEventArgs e)
    {
        this._processing = true;
        BotStatusResponse response;
        if (this._id != null)
            response = await this.Service.UpdateAsync(this._id.Value, this.BuildStatus());
        else
            response = await this.Service.CreateAsync(this.BuildStatus());
        this.LoadStatus(response);
        this.Notifications.Add("Status saved.", Severity.Success);
        await this.Saved.InvokeAsync(new StatusEventArgs(this._id, this.ExistingStatus));
        this._processing = false;
    }

    private async Task OnSetClickedAsync(MouseEventArgs e)
    {
        this._processing = true;
        await this.Service.SetCurrentAsync(this.BuildStatus());
        this.Notifications.Add("Bot's current status changed", Severity.Success);
        this._processing = false;
    }

    private async Task OnPreviewClickedAsync(MouseEventArgs e)
    {
        this._processing = true;
        PlaceholdersConvertResponse response = await this.Placeholders.ConvertAsync(new PlaceholdersConvertRequest(this._text, PlaceholderUsage.Status));
        this._processing = false;
        string activity = this._activityType == ActivityType.Listening ? "Listening to" : this._activityType.ToString();
        this._previewText = $"{activity} {response.Result}";
    }

    private async Task OnPlaceholdersDialogClickedAsync(MouseEventArgs e)
    {
        this._processing = true;
        string placeholderValue = await this.PlaceholdersDialog.OpenAsync(PlaceholderUsage.Status);
        this._processing = false;
    }

    public record StatusEventArgs(Guid? ID, BotStatusResponse Status);
}